node-red-sensor.json
[{"id":"5376365c.8fd158","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f397b22.442538","type":"ibmiot in","z":"5376365c.8fd158","authentication":"apiKey","apiKey":"9ed7600b.cf374","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":220,"wires":[["55ee07e5.9f9b68","65e2762e.ac6848","c9082021.e2ee","3531aeac.6f4162","4463b783.426408"]]},{"id":"55ee07e5.9f9b68","type":"debug","z":"5376365c.8fd158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":220,"wires":[]},{"id":"65e2762e.ac6848","type":"function","z":"5376365c.8fd158","name":"","func":"global.set('temperature',msg.payload.d.temperature)\nglobal.set('humidity',msg.payload.d.humidity)\nglobal.set('objectTemp',msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[[]]},{"id":"c9082021.e2ee","type":"function","z":"5376365c.8fd158","name":"Temperature","func":"var temp=global.get('temperature')\nreturn {payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":250,"y":380,"wires":[["c998758a.6d58d8","1829a281.a6d4fd"]]},{"id":"c998758a.6d58d8","type":"ui_gauge","z":"5376365c.8fd158","name":"","group":"6f05a1fb.d4296","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"7","seg2":"15","x":510,"y":380,"wires":[]},{"id":"d430da6c.753028","type":"ui_gauge","z":"5376365c.8fd158","name":"","group":"77c78e3b.3e59f","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":500,"y":460,"wires":[]},{"id":"b9b9bf8b.76364","type":"ui_gauge","z":"5376365c.8fd158","name":"","group":"a1d1af17.04bb6","order":1,"width":0,"height":0,"gtype":"gage","title":"ProductTemp","label":"units","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"7","seg2":"15","x":510,"y":540,"wires":[]},{"id":"3531aeac.6f4162","type":"function","z":"5376365c.8fd158","name":"Humidity","func":"var humid=global.get('humidity')\nreturn {payload:msg.payload.d.humidity};","outputs":1,"noerr":0,"x":250,"y":460,"wires":[["d430da6c.753028"]]},{"id":"4463b783.426408","type":"function","z":"5376365c.8fd158","name":"ProductTemp","func":"var obtemp=global.get('objectTemp')\nreturn {payload:msg.payload.d.objectTemp};","outputs":1,"noerr":0,"x":260,"y":540,"wires":[["b9b9bf8b.76364"]]},{"id":"1829a281.a6d4fd","type":"ui_toast","z":"5376365c.8fd158","position":"top right","displayTime":"3600","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":710,"y":280,"wires":[],"inputLabels":["Temperature Alert!"]},{"id":"9ed7600b.cf374","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"b4hj7r.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"6f05a1fb.d4296","type":"ui_group","z":"","name":"Temperature","tab":"878f28c1.182808","order":1,"disp":true,"width":"6","collapse":false},{"id":"77c78e3b.3e59f","type":"ui_group","z":"","name":"Humidity","tab":"878f28c1.182808","order":2,"disp":true,"width":"6","collapse":false},{"id":"a1d1af17.04bb6","type":"ui_group","z":"","name":"ProductTemp","tab":"878f28c1.182808","order":3,"disp":true,"width":"6","collapse":false},{"id":"878f28c1.182808","type":"ui_tab","z":"","name":"Alert","icon":"dashboard","disabled":false,"hidden":false}]