node-red-chatbot.json
[{"id":"17688386.cfe2dc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"26704b8d.62f044","type":"ui_form","z":"17688386.cfe2dc","name":"","label":"","group":"45deec1a.107a74","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["837d9c02.4c65a"]]},{"id":"837d9c02.4c65a","type":"function","z":"17688386.cfe2dc","name":"input","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["6c48fd93.1ea874","9e2ebd14.03c93"]]},{"id":"6c48fd93.1ea874","type":"watson-conversation-v1","z":"17688386.cfe2dc","name":"Warehouse Management ","workspaceid":"9b61fb63-c8a2-4914-afc8-cd1cc71570ef","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ba6ff27a-743b-4a43-b8cc-df8d8d5d0fba","timeout":"","optout-learning":false,"x":470,"y":360,"wires":[["42e7bf8a.f2a3e","ebb5c409.15ee68"]]},{"id":"ebb5c409.15ee68","type":"function","z":"17688386.cfe2dc","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.payload = msg.payload.output.generic[0].text\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["bcc60a9c.34c128","6f100caa.c4cf24","78ee41a3.ffeef"]]},{"id":"42e7bf8a.f2a3e","type":"debug","z":"17688386.cfe2dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":480,"wires":[]},{"id":"78ee41a3.ffeef","type":"ui_template","z":"17688386.cfe2dc","group":"45deec1a.107a74","name":"","order":5,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":200,"wires":[[]]},{"id":"6f100caa.c4cf24","type":"ui_audio","z":"17688386.cfe2dc","name":"","group":"45deec1a.107a74","voice":"en-US","always":"","x":780,"y":340,"wires":[]},{"id":"9e2ebd14.03c93","type":"ui_text","z":"17688386.cfe2dc","group":"45deec1a.107a74","order":2,"width":0,"height":0,"name":"","label":"Enter the input","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":520,"wires":[]},{"id":"bcc60a9c.34c128","type":"ui_text","z":"17688386.cfe2dc","group":"45deec1a.107a74","order":2,"width":0,"height":0,"name":"","label":"Message","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":420,"wires":[]},{"id":"45deec1a.107a74","type":"ui_group","z":"","name":"Warehouse management","tab":"a5ea67ef.125808","order":1,"disp":true,"width":"6","collapse":false},{"id":"a5ea67ef.125808","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]