node-red chart.json
[{"id":"ed9124c5.46f4b8","type":"tab","label":"cos flow","disabled":false,"info":""},{"id":"a709c70e.0d0f98","type":"cos-get","z":"ed9124c5.46f4b8","name":"","bucket":"machinelearn","objectname":"skk.csv","mode":"1","filepath":"","filename":"gh.json","geturl":false,"geturlExpiry":900,"cosconfig":"cae9e13d.916f8","x":370,"y":60,"wires":[["51ed09c2.cdd348"]]},{"id":"51ed09c2.cdd348","type":"function","z":"ed9124c5.46f4b8","name":"","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload=out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is depl\n","finalize":"","x":580,"y":60,"wires":[["66a48611.578988"]]},{"id":"66a48611.578988","type":"csv","z":"ed9124c5.46f4b8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":730,"y":60,"wires":[["935b167a.a77b08"]]},{"id":"a6876877.b7c3e8","type":"function","z":"ed9124c5.46f4b8","name":"","func":"s=msg.payload;\nmsg.payload=s[4];\nmsg.label=\"2016\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":440,"wires":[["39dc53d9.3afd5c"]],"outputLabels":["msg"]},{"id":"f9d6d60a.089d18","type":"function","z":"ed9124c5.46f4b8","name":"","func":"s=msg.payload;\nmsg.payload=s[0];\nmsg.label=\"2012\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["39dc53d9.3afd5c"]]},{"id":"e2132cdd.c4555","type":"function","z":"ed9124c5.46f4b8","name":"","func":"s=msg.payload;\nmsg.payload=s[1];\nmsg.label=\"2013\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":280,"wires":[["39dc53d9.3afd5c"]]},{"id":"8197c88.cad0d38","type":"function","z":"ed9124c5.46f4b8","name":"","func":"s=msg.payload;\nmsg.payload=s[2];\nmsg.label=\"2014\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":340,"wires":[["39dc53d9.3afd5c"]]},{"id":"935b167a.a77b08","type":"function","z":"ed9124c5.46f4b8","name":"","func":"s=msg.payload;\np=s.length;\nvar sum1=0;\nvar sum2=0;\nvar sum3=0;\nvar sum4=0;\nvar sum5=0\nvar sum=[];\nfor(i=0;i<p;i++){\n    if(s[i].Date.match(\"2012\")==\"2012\"){\n        sum1+=parseInt(s[i].Order_Demand);\n    }\n    if(s[i].Date.match(\"2013\")==\"2013\"){\n        sum2+=parseInt(s[i].Order_Demand);\n    }\n    if(s[i].Date.match(\"2014\")==\"2014\"){\n        sum3+=parseInt(s[i].Order_Demand);\n    }\n    if(s[i].Date.match(\"2015\")==\"2015\"){\n        sum4+=parseInt(s[i].Order_Demand);\n    }\n    if(s[i].Date.match(\"2016\")==\"2016\"){\n        sum5+=parseInt(s[i].Order_Demand);\n    }\n}\nsum=[sum1,sum2,sum3,sum4,sum5]\nmsg.payload=sum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":280,"wires":[["f9d6d60a.089d18","e2132cdd.c4555","8197c88.cad0d38","5991c586.4e342c","a6876877.b7c3e8","c5581678.f067e8"]]},{"id":"5991c586.4e342c","type":"function","z":"ed9124c5.46f4b8","name":"","func":"s=msg.payload;\nmsg.payload=s[3];\nmsg.label=\"2015\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":380,"wires":[["39dc53d9.3afd5c"]]},{"id":"c5581678.f067e8","type":"debug","z":"ed9124c5.46f4b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":150,"y":380,"wires":[]},{"id":"39dc53d9.3afd5c","type":"ui_chart","z":"ed9124c5.46f4b8","name":"","group":"a4c126f6.72e038","order":0,"width":0,"height":0,"label":"CITRUS DEMAND OVER YEARS","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"750000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":300,"wires":[[]]},{"id":"7c5d82a9.7fe56c","type":"ui_button","z":"ed9124c5.46f4b8","name":"","group":"a4c126f6.72e038","order":1,"width":0,"height":0,"passthru":false,"label":"show graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":120,"y":120,"wires":[["a709c70e.0d0f98"]]},{"id":"98078027.6e15","type":"template","z":"ed9124c5.46f4b8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n\t<meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t<title>Warehouse Management</title>\n     <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n     <link href=\"https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css\" rel=\"stylesheet\">\n\t\n\t<style >\n\t\tsection{\n             position:relative;\n             background:url(https://www.thehealthy.com/wp-content/uploads/2019/02/This-Fast-Food-Chain-Makes-More-Money-Per-Store-Than-McDonald%E2%80%99s.jpg) no-repeat;\n            background-size: cover;\n             width: 100%;\n             height:700px;\n             background-attachment: fixed;\n\n          }\n\t\t#predict img {\n\t\t\tposition:relative;\n\t\t    height:300px;\t\n\t\t    width:100%;\n            padding:0px;\n            margin-top: 20px;\n            margin-right:20px; \n            margin-bottom:20px;\n            background-color: black;\n            \n\t    }\n\t    #predict{\n\t    \tborder:10px;\n\t    \tborder-color: black;\n\t    \toverflow: hidden;\n\t    }\n\t    h1{\n\t    \ttext-align: center;\n\t    \ttext-transform: uppercase;\n\t    \tcolor:black;\n\t        text-shadow: 10px grey; \n\t        text-decoration: none;\n\n\t    }\n\t    .navbar-brand a:hover, .navbar-brand a:focus {\n             text-decoration: none;\n              }\n\t    #header-nav {\n          background-color: #808b96;\n          border-radius: 0;\n          border: 0;\n          }\n         \n         #letter{\n         \tposition: absolute;\n         \twidth: 95%;\n         \tpadding-top: 10px;\n         \theight:50px;\n         \tfont-size: 20px;\n         \ttop:0;\n         \tleft:14px;\n         \tmargin-top: 10px;\n         \tbackground-position: center;\n         \ttext-align: center;\n         \ttext-transform: uppercase;\n         \tbackground-color:#f4f6f7;\n         \tcolor:#7d6608;\n         \tfont-weight: bold;\n         }\n\n\t    \n\t </style>\n</head>\n<body>\n<header>\n    <nav id=\"header-nav\" class=\"navbar navbar-default\">\n      <div class=\"container\">\n        <div class=\"navbar-header\">\n\n         <div class=\"navbar-brand\">\n            <a href=\"#\"><h1>warehouse management</h1></a>\n         </div>\n\n        </div>\n        </div>\n        </nav>\n        </header> \n<section style=\"padding: 20px;\" >\n<div class=\"container\">\n <div class=\"row\">\n\t<div id=\"predict\" class=\"col-lg-6\">\n\t   <a href=\"https://github.com/sowmiya03/machine_learning/blob/master/demand_forecast.ipynb\" target=\"_blank\">\n    \t<img src=\"https://s3.amazonaws.com/prod-www-blackline-com/blog/wp-content/uploads/2019/01/29163118/A-Conversation-With-BlackLines-Machine-Learning-Experts.jpg\">\n    \t<span id=\"letter\">model</span>\n       </a>\n    </div> \n    <div id=\"predict\" class=\"col-lg-6\">\n    \t<a href=\"https://node-red-connect.eu-gb.mybluemix.net/ui/\" target=\"_blank\">\n    \t<img src=\"https://www.thepixellab.net/wp-content/uploads/2016/02/Simple-Bar-Chart-Graph-C4D-3D-Model-Infographics-Graph-Bars-Chart-Pack.jpg\">\n    \t<span id=\"letter\">chart</span>\n        </a>\n    </div>\n    <span id=\"predict\" class=\"col-lg-6\">\n    \t<a href=\"https://node-red-rdtbm.eu-gb.mybluemix.net/ui/\" target=\"_blank\">\n    \t<img src=\"https://miro.medium.com/max/4000/1*m9IJdAYW04MYh75ivpwUNA.png\">\n    \t<span id=\"letter\">chatbot</span>\n         </a>\n    </span>\n    <span id=\"predict\" class=\"col-lg-6\">\n    \t<a href=\"https://node-red-xkogt.eu-gb.mybluemix.net/ui/#!/3?socketid=PTIEucnC9sD0c7-vAAAC\" target=\"_blank\">\n    \t<img src=\"https://www.mumbailive.com/images/media/images/images_1558164704380_temperature.jpg?bg=db9131&crop=645%2C362.10526315789474%2C0%2C37.6824413976117&fit=crop&fitToScale=w%2C1368%2C768&h=768&height=400&w=1368&width=645\">\n    \t<span id=\"letter\">sensor</span>\n        </a>\n    </span>\n\n </div>\n </div>\n</section>\n</body>\n</html>","output":"str","x":370,"y":520,"wires":[["72228b75.e529b4"]]},{"id":"508ec927.933b58","type":"http in","z":"ed9124c5.46f4b8","name":"","url":"/first","method":"get","upload":false,"swaggerDoc":"","x":150,"y":540,"wires":[["98078027.6e15"]]},{"id":"72228b75.e529b4","type":"http response","z":"ed9124c5.46f4b8","name":"","statusCode":"","headers":{},"x":600,"y":540,"wires":[]},{"id":"cae9e13d.916f8","type":"cos-config","z":"","apiKeyId":"PNBsG03NBkiDxAS0QYNgephfso5ypyG89h_jRT2jjjlx","location":"eu-gb","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.eu-gb.objectstorage.softlayer.net","serviceInstanceId":"crn:v1:bluemix:public:cloud-object-storage:global:a/e6ab1c3529874aafa3993ab73fba65c0:d99c07da-da92-4e86-a950-c36765b9cb2b::","hmac":false,"accesskeyid":"","accesskey":"","name":"node"},{"id":"a4c126f6.72e038","type":"ui_group","z":"","name":"graph","tab":"217314f1.c6873c","order":1,"disp":true,"width":"6","collapse":false},{"id":"217314f1.c6873c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]